# Estas variables las genera Vercel automáticamente al conectar Postgres
POSTGRES_URL=
POSTGRES_PRIsMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Esta la definís vos (cualquier contraseña para proteger el endpoint /api/seed)
SEED_SECRET=nexsys2026
